alias a="alias"
a gpoat="git push origin && git push origin --tags"
a date="date +%Y-%m-%d_%H-%M"
a nv="nvim"
a v="vim"
a rm='rm -f'
a wget='wget -c'
a p='n-panelize'
a G='grep -nrIi'
a resource='source ~/.zshrc && echo "feeling fresh now"'

a link-dot-files="for i in `ls -a dotfiles`; do mv ${i} ~/bkp; ln -s dotfiles/${i} ${i}; done"

# github
a clone-rep="cd ~/dev/cloned && gcl ${1}"


a myip="ifconfig | grep 'inet ' | grep -v 127.0.0.1 | cut -d\   -f2"
a ip="curl icanhazip.com" # Your public IP address


