[core]
	excludesfile = /Users/yannvallery-radot/.gitignore_global
	autocrlf = input
	editor = /usr/local/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Yann Vallery-Radot
	email = yannvr@gmail.com
[alias]
    st = status
    ci = commit
    di = diff
    co = checkout
    amend = commit --amend
    b = branch
    r = reset
    branch-commit = log --first-parent --no-merges
    hist = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
    lastbranches = for-each-ref --sort=-committerdate refs/heads/
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git diff-index --quiet HEAD; s=$?; [ $s != 0 ] && git stash save \"tmp stash from stash-rename\"; git stash apply $rev && shift && git stash save \"$@\" && [ $s != 0 ] && git stash pop stash@{1}; }; _"
[push]
	default = simple
