# .gitconfig - Personal Git configuration
# Copy this file to .gitconfig and customize with your information
# This file contains your personal Git settings

[user]
    name = Your Full Name
    email = your.email@example.com

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    pager = delta
    autocrlf = input
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    ca = commit --amend
    cm = commit -m
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD
    unstage = reset HEAD --
    hist = log --pretty=format:'%C(yellow)%h%Creset %ad | %s%C(red)%d%Creset %C(blue)[%an]%Creset' --graph --date=short

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[diff]
    tool = nvimdiff
    colorMoved = default

[rerere]
    enabled = true

[rebase]
    autoStash = true

[status]
    showUntrackedFiles = all

[log]
    date = short

[init]
    defaultBranch = main

[credential]
    helper = osxkeychain

# Add your personal Git configuration here
